html, body, main {
  height: 100%;
}

body {
  background-color: black;
  color: white;
  font-family: 'Inconsolata', monospace;
  text-align: center;
}

main {
  user-select: none;
  -webkit-user-select: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
